[phases.setup]
nixPkgs = ["python311", "unzip"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["reflex init"]

[start]
cmd = "python -m reflex run --env prod --frontend-only & python -m reflex run --env prod --backend-only"
